<button class="jy-c-menu material-icons">menu</button>
<div class="jy-c-flex-spacer-brand"></div>
<div class="jy-c-brand">
  <div class="jy-c-brand-icon">
    <i class="material-icons" aria-hidden="true">school</i>
  </div>
  <div class="jy-typography--subheading">JasonYin.Tech</div>
</div>
<div class="jy-c-flex-spacer"></div>
<div class="jy-c-navigation-container">
  <nav class="jy-c-navigation">
    <a class="jy-c-navigation__link jy-theme--text-primary-on-primary" href="./index.html">Home</a>
    <a class="jy-c-navigation__link jy-theme--text-primary-on-primary" href="#">Blogs</a>
    <a class="jy-c-navigation__link jy-theme--text-primary-on-primary" href="#">Web</a>
    <a class="jy-c-navigation__link jy-theme--text-primary-on-primary" href="#">Performance</a>
    <a class="jy-c-navigation__link jy-theme--text-primary-on-primary" href="./about.html">About</a>
    <a class="jy-c-navigation__link jy-theme--text-primary-on-primary" href="#">Contact</a>
  </nav>
</div>
<div class="jy-c-search-box">
  <i class="material-icons">search</i>
</div>
<div class="jy-c-more-button">
  <i class="material-icons">more_vert</i>
</div>
</div>