<aside class="jy-temporary-drawer">
  <nav class="jy-temporary-drawer__drawer">
    <header class="jy-temporary-drawer__header">
      <div class="jy-temporary-drawer__header-content jy-theme--primary-bg jy-theme--text-primary-on-primary">
        <i class="material-icons jy-list-item__start-detail jy-theme--text-primary-on-primary" aria-hidden="true">school</i>
          JasonYin.Tech
      </div>
    </header>
    <nav class="jy-temporary-drawer__content jy-list-group">
      <div id="icon-with-text-jy" class="jy-list">
        <a class="jy-list-item jy-temporary-drawer--selected" href="./index.html">
          <i class="material-icons jy-list-item__start-detail" aria-hidden="true">home</i>Home
        </a>
        <a class="jy-list-item" href="#">
          <i class="material-icons jy-list-item__start-detail" aria-hidden="true">library_books</i>Blogs
        </a>
        <a class="jy-list-item" href="#">
          <i class="material-icons jy-list-item__start-detail" aria-hidden="true">language</i>Web Development
        </a>
        <a class="jy-list-item" href="#">
          <i class="material-icons jy-list-item__start-detail" aria-hidden="true">memory</i>Web Perf
        </a>
      </div>

      <hr class="jy-list-divider">

      <div class="jy-list">
        <a class="jy-list-item" href="#">
          <i class="material-icons jy-list-item__start-detail" aria-hidden="true">contacts</i>Contact
        </a>
        <a class="jy-list-item" href="./about.html">
          <i class="material-icons jy-list-item__start-detail" aria-hidden="true">person</i>About
        </a>
      </div>
    </nav>
  </nav>
</aside>