    </main>
    <script src="./jy.main.js"></script>
    <script>
      let drawer = new jy.main.drawer.JYTemporaryDrawer(document.querySelector('.jy-temporary-drawer'));
      document.querySelector('.jy-c-menu').addEventListener('click', () => drawer.open = true);
    </script>
  </body>
</html>