    </main>
    <script src="./jy.main.js"></script>
    <script>
      let drawer = new jy.main.ui.drawer.JYTemporaryDrawer(document.querySelector('.jy-temporary-drawer'));
      document.querySelector('.jy-c-menu').addEventListener('click', () => drawer.open = true);

      //import highLightNavItem from "";
      // highlight the selected nav link based on window.location
      jy.main.nav.highLightNavItem("jy-id-drawer", ".jy-list-item.jy-temporary-drawer--selected", "jy-temporary-drawer--selected");
      jy.main.nav.highLightNavItem("jy-id-head-navigation", ".jy-c-navigation__link__selected", "jy-c-navigation__link__selected");
    </script>
  </body>
</html>